<div class="search-form mt-4">
    <form method="post">
            <label for="search-input">Từ khoá</label>
            <input type="text" name="q" class="form-control mb-3" id="search-input" placeholder="Nhập từ khoá">
            <input type="text" name="gender" class="form-control mb-3" id="search-input">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>